* {
    margin: 0;
    padding: 0;
}

nav {
    z-index: 1000;
}

.cards-section {
    position: relative;
    top: 92px;
    left: 18px;
    width: 96vw;
    margin-bottom: 150px;
}
.cards-section .cards-heading {
    margin-bottom: 15px;
}

.cards-section img {
    background-color: grey;
}

.left-btn .btn {
    margin: 0;
    padding: 0;
    border: 1px black;
}

.bd-footer .photo {
    width: 190px;
    height: auto;
}

#footer .px-2 {
    font-size: 24px;
    font-weight: 600;
}

#footer .name, #footer a {
    font-size: 24px;
    font-weight: 400;
}

#footer a {
    text-decoration: none;
    color: black;
}